body {
    margin: 0 auto;
    width: 1420px;
}
.container{
    width: 1000px;
    padding: 50px;
    margin: auto;
}
form{
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: auto;
}
input{
    margin-bottom: 20px;
    height: 30px;
    color: rgb(7, 58, 58);
}
textarea{
    margin-bottom: 20px;
    color: rgb(7, 58, 58);
    width: 500px;
}
.hidden{
    display: none;
}
.userError{
    color: red;
    margin-top: -10px;
}
.button{
    background-color: rgba(49, 150, 149, 0.667);
    border: none;
    height: 35px;
    cursor: pointer;
    color: white;
    border-radius: 2px;
}
.button:hover{
    background-color: rgb(129, 172, 172);
    color: rgb(7, 58, 58);
    border: 1px solid  rgb(7, 58, 58);
}
.error {
    border: 1px solid red;
    background-color: rosybrown;
}